.columna{
    padding-left: 30px;
}

.col-id{
    padding-right: 10px;
}

.col-nombre{
    padding-right: 100px;
}

.col-descripcion{
    padding-right: 100px;
}

.importante{
    font-weight: bold;
}

